/Graf.class
/GrafLouvain.class
/Louvain.class
/Clique.class
/GrafNewman.class
/Newman.class
/GrafNewman$Aresta.class
/GrafNewman$ArestaPes.class
/GrafNewman$ComparaValors.class
/GrafNewman$QueueVector.class
